<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

    <header th:replace="layout/layout :: header"></header>

    <div class="container py-4">

        <div class="card bg-light">
            <div class="card-header" th:text="${title}"></div>
            <div class="card-body">

                <h4 class="card-title">
                    <a th:href="@{/form}" class="btn btn-primary">Create Customer</a>
                </h4>

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>name</th>
                            <th>lastName</th>
                            <th>email</th>
                            <th>date</th>
                            <th>create invoice</th>
                            <th>edit</th>
                            <th>delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="customer: ${customers}">
                            <td>
                                <a class="btn btn-primary btn-xs" th:href="@{/view/} + ${customer.id}" th:text="${customer.id}"></a>
                            </td>
                            <td th:text="${customer.name}"></td>
                            <td th:text="${customer.lastName}"></td>
                            <td th:text="${customer.email}"></td>
                            <td th:text="${customer.createDate}"></td>
                            <td>
                                <a class="btn btn-success btn-sm" th:href="@{'/invoice/form/' + ${customer.id}}" th:text="'create invoice'"></a>
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm" th:href="@{/form/} + ${customer.id}" th:text="'edit'"></a>
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm" th:href="@{/delete/} + ${customer.id}" th:text="'delete'" onclick="return confirm('Are you shure?');"></a>
                            </td>
                        </tr>
                    </tbody>

                </table>
                <nav th:replace="paginator-nav :: paginator"></nav>
            </div>
        </div>

    </div>

    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>