<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

    <header th:replace="layout/layout :: header"></header>

    <div class="container py-4">


        <div class="card bg-light">
            <div class="card-header" th:text="${title}"></div>
            <div class="card-body">


                <h4 class="card-title">
                    <a th:href="@{'/ver/' + ${invoice.customer.id}}" class="btn btn-light btn-xs">&laquo; volver</a>
                </h4>

                <ul class="list-group my-2">
                    <li class="list-group-item list-group-item-primary" th:text="'Customer Details'"></li>
                    <li class="list-group-item" th:text="${invoice.customer}"></li>
                    <li class="list-group-item" th:text="${invoice.customer.email}"></li>
                </ul>

                <ul class="list-group my-2">
                    <li class="list-group-item list-group-item-success" th:text="'Invoice Data'"></li>
                    <li class="list-group-item" th:text="'Page: ' + ${invoice.id}"></li>
                    <li class="list-group-item" th:text="'Description: ' + ${invoice.descrciption}"></li>
                    <li class="list-group-item" th:text="'Date: ' + ${invoice.createAt}"></li>
                </ul>
                <div class="alert alert-info my-4" th:if="${#lists.isEmpty(invoice.items)}" th:text="'There are no rows in the invoice' + ${invoice.description}"></div>

                <table th:if="${not #lists.isEmpty(invoice.items)}" class="table table-striped table-hover table-bordered my-3">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="row: ${invoice.items}">
                            <td th:text="${row.product.name}"></td>
                            <td th:text="${row.product.price}"></td>
                            <td th:text="${row.quantity}"></td>
                            <td th:text="${row.calculateImport()}"></td>
                        </tr>
                    </tbody>

                </table>

                <h5 class="float-right">
                    Gran Total <span th:text="${invoice.total}" class="badge badge-secondary"></span>
                </h5>

                <div class="card border-info mb-4" style="max-width: 20rem;">
                    <div class="card-header">Remarks</div>
                    <div class="card-body">
                        <p class="card-text" th:text="${invoice.remark}" th:if="${not #strings.isEmpty(invoice.remark)}"></p>
                        <h4 class="card-title" th:if="${#strings.isEmpty(invoice.remark)}" th:text="'There are no remarks'"></h4>
                    </div>
                </div>

                <a th:href="@{'/view/' + ${invoice.customer.id}}" class="btn btn-light btn-xs">&laquo; back</a>

            </div>
        </div>

    </div>
    <footer th:replace="layout/layout :: footer"></footer>
</body>

</html>